<h1>Evaluations</h1>

  
  <%if @user.student? %>
    <%= render 'student-evaluations' %>
  <%elsif @user.admin? %>
    <%= render 'professor-evaluations' =%>
  <% end %>

<%= render 'shared/collapsible_script' =%>

