<div class="center jumbotron">
<br/>
 <h1>Evaluation Tool</h1>
 <h2>Team Byte Me's <strong>powerful</strong> and <strong>easy to use</strong> evaluation tool for student teams.</h2>
  <%= link_to "Sign up now!", '/signup', class: "btn btn-lg btn-primary btn-nologin" %>
</div>

