<% provide(:title, "Edit Project") %>
<h1>Update Project</h1>

  <p><%= link_to "Back to Profile", current_user %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'project-form', :button_text => "Save Changes" %>
  </div>
</div>