<h1>Classes</h1>

<%= will_paginate %>

<ul class="classes">
  <%= render @classes %>
</ul>

<%= will_paginate %>

<%# <ol> %>
  <%# <% @classes.each do |class| %>
    <%# <li><%= class.name %><%# </li> %>
  <%# <% end %>
<%# </ol> %>