<% provide(:title, 'New Class') %>
<h1>Add Class</h1>

  <%= link_to "Back to Profile", current_user %></p>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
  <%= render 'class-form', :button_text => "Create Class" %>
  </div>
</div>