<footer class="footer">
 <small>
   The peer evaluation tool designed by Team Byte Me
</small>
<nav>
  <ul>
    <li><%= link_to "About", about_path %></li>
    <li><%= link_to "Contact", contact_path %></li>
  </ul>
 </nav>
</footer>
